
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.vscode/settings.json
game/docs/allclasses-index.html
.gitignore
game/docs/terminal/adventure/game/spells/VisionSpell.html
.gitignore
game/docs/terminal/adventure/game/spells/Spell.html
game/docs/allpackages-index.html
game/docs/element-list
game/docs/help-doc.html
game/docs/index-all.html
game/docs/index.html
game/docs/jquery-ui.overrides.css
game/docs/member-search-index.js
game/docs/module-search-index.js
game/docs/overview-summary.html
game/docs/overview-tree.html
game/docs/package-search-index.js
game/docs/script.js
game/docs/search.js
game/docs/serialized-form.html
game/docs/stylesheet.css
game/docs/tag-search-index.js
game/docs/type-search-index.js
game/docs/legal/COPYRIGHT
game/docs/legal/jquery.md
game/docs/legal/jqueryUI.md
game/docs/legal/LICENSE
game/docs/resources/x.png
game/docs/script-dir/jquery-3.6.1.min.js
game/docs/script-dir/jquery-ui.min.js
game/docs/terminal/adventure/exceptions/actorlessControllerException.html
game/docs/terminal/adventure/exceptions/CannotAccessContentException.html
game/docs/terminal/adventure/exceptions/CharacterShouldDieException.html
.gitignore
.gitignore
game/docs/terminal/adventure/game/spells/UnlockSpell.html
game/docs/terminal/adventure/game/spells/package-tree.html
game/docs/terminal/adventure/game/spells/package-summary.html
game/docs/terminal/adventure/game/inventory/slots/TorsoSlot.html
.gitignore
game/docs/terminal/adventure/game/inventory/slots/Slot.html
game/docs/terminal/adventure/game/actors/Cultist.html
game/docs/terminal/adventure/game/actors/Goblin.html
game/docs/terminal/adventure/game/actors/Human.html
game/docs/terminal/adventure/game/actors/Orc.html
game/docs/terminal/adventure/game/actors/package-summary.html
game/docs/terminal/adventure/game/actors/package-tree.html
game/docs/terminal/adventure/game/inventory/slots/package-tree.html
game/docs/terminal/adventure/game/controllers/package-tree.html
.gitignore
game/docs/terminal/adventure/game/controllers/PlayerController.html
game/docs/terminal/adventure/game/exits/Exit.html
game/docs/terminal/adventure/game/exits/HiddenExit.html
game/docs/terminal/adventure/game/exits/LockedExit.html
game/docs/terminal/adventure/game/exits/OpenExit.html
game/docs/terminal/adventure/game/exits/package-summary.html
game/docs/terminal/adventure/game/exits/package-tree.html
game/docs/terminal/adventure/game/gamestates/BloodCultScenario.html
game/docs/terminal/adventure/game/gamestates/GameState.html
game/docs/terminal/adventure/game/gamestates/package-summary.html
game/docs/terminal/adventure/game/gamestates/package-tree.html
game/docs/terminal/adventure/game/interactables/Chest.html
game/docs/terminal/adventure/game/interactables/Interactable.html
game/docs/terminal/adventure/game/interactables/package-summary.html
game/docs/terminal/adventure/game/interactables/package-tree.html
game/docs/terminal/adventure/game/inventory/Equipment.html
game/docs/terminal/adventure/game/inventory/Inventory.html
game/docs/terminal/adventure/game/inventory/package-summary.html
game/docs/terminal/adventure/game/inventory/package-tree.html
game/docs/terminal/adventure/game/inventory/Storage.html
game/docs/terminal/adventure/game/inventory/items/Backpack.html
game/docs/terminal/adventure/game/inventory/items/BootsEquipment.html
game/docs/terminal/adventure/game/inventory/items/GlovesEquipment.html
game/docs/terminal/adventure/game/inventory/items/HeadEquipment.html
game/docs/terminal/adventure/game/inventory/items/Item.html
game/docs/terminal/adventure/game/inventory/items/package-summary.html
game/docs/terminal/adventure/game/inventory/items/package-tree.html
game/docs/terminal/adventure/game/inventory/items/TorsoEquipment.html
game/docs/terminal/adventure/game/inventory/items/WinGem.html
game/docs/terminal/adventure/game/inventory/slots/BackpackSlot.html
game/docs/terminal/adventure/game/inventory/slots/BootsSlot.html
game/docs/terminal/adventure/game/inventory/slots/GlovesSlot.html
game/docs/terminal/adventure/game/inventory/slots/HeadSlot.html
game/docs/terminal/adventure/game/inventory/slots/package-summary.html
game/docs/terminal/adventure/game/controllers/package-summary.html
.gitignore
game/docs/terminal/adventure/game/controllers/Faction.html
game/docs/terminal/adventure/game/controllers/Controller.html
game/docs/terminal/adventure/game/controllers/AIController.html
game/docs/terminal/adventure/game/commands/package-tree.html
game/docs/terminal/adventure/game/commands/package-summary.html
game/docs/terminal/adventure/game/commands/CommandUse.html
game/docs/terminal/adventure/game/commands/CommandTake.html
game/docs/terminal/adventure/game/commands/CommandQuit.html
game/docs/terminal/adventure/game/commands/CommandLook.html
game/docs/terminal/adventure/game/commands/CommandHelp.html
game/docs/terminal/adventure/game/commands/CommandGo.html
game/docs/terminal/adventure/game/commands/CommandEquip.html
game/docs/terminal/adventure/game/commands/CommandCast.html
game/docs/terminal/adventure/game/commands/CommandAttack.html
game/docs/terminal/adventure/game/commands/Command.html
game/docs/terminal/adventure/game/actors/Actor.html
game/docs/terminal/adventure/game/Stats.html
game/docs/terminal/adventure/game/package-tree.html
game/docs/terminal/adventure/game/package-summary.html
game/docs/terminal/adventure/game/Lookable.html
game/docs/terminal/adventure/game/Main.html
game/docs/terminal/adventure/game/Location.html
game/docs/terminal/adventure/game/Fight.html
game/docs/terminal/adventure/game/Console.html
game/docs/terminal/adventure/exceptions/terminalAdventureException.html
game/docs/terminal/adventure/exceptions/package-tree.html
game/docs/terminal/adventure/exceptions/package-summary.html
.gitignore
game/docs/terminal/adventure/exceptions/noPossibilitesException.html
game/docs/terminal/adventure/exceptions/invalidInputException.html
game/docs/script-dir/jquery-ui.min.css
game/docs/resources/glass.png
